
# **Examen Avancé en Python**

---
### **Instructions :**
- Lisez chaque question attentivement.
- Fournissez vos réponses dans les cellules de code prévues.
- Sauvegardez régulièrement votre travail.
---


## **Question 1: Importation des bibliothèques nécessaires**
Importez les bibliothèques nécessaires pour :
- Manipuler des fichiers JSON et XML
- Télécharger des fichiers depuis une URL

### Code :

In [ ]:
# Écrivez votre code ici
import xml.etree.ElementTree as ET
import requests
import pandas as pd


## **Question 2: Téléchargement de données JSON**
Téléchargez le fichier JSON depuis l'URL suivante :  
`https://jsonplaceholder.typicode.com/users`  

- Chargez les données dans une variable Python.
- Affichez les noms et emails de chaque utilisateur sous cette forme :  
**Nom: Leanne Graham, Email: Sincere@april.biz**  

### Code :

In [ ]:
# Écrivez votre code ici
#Retrieving data from the API
res = requests.get('https://jsonplaceholder.typicode.com/users')
data = res.json()

#Print the data
for user in data:
    print("Nom: " + user['name'] + ", Email: " + user['email'])

Nom: Leanne Graham, Email: Sincere@april.biz
Nom: Ervin Howell, Email: Shanna@melissa.tv
Nom: Clementine Bauch, Email: Nathan@yesenia.net
Nom: Patricia Lebsack, Email: Julianne.OConner@kory.org
Nom: Chelsey Dietrich, Email: Lucio_Hettinger@annie.ca
Nom: Mrs. Dennis Schulist, Email: Karley_Dach@jasper.info
Nom: Kurtis Weissnat, Email: Telly.Hoeger@billy.biz
Nom: Nicholas Runolfsdottir V, Email: Sherwood@rosamond.me
Nom: Glenna Reichert, Email: Chaim_McDermott@dana.io
Nom: Clementina DuBuque, Email: Rey.Padberg@karina.biz


## **Question 3: Extraction avancée de JSON**
En utilisant les données JSON de la **Question 2** :  
1. Trouvez et affichez uniquement les utilisateurs dont la ville est **Gwenborough**.  
2. Créez une nouvelle liste contenant les coordonnées géographiques  
   sous la forme `[(lat1, lng1), (lat2, lng2), ...]`.

### Code :

In [ ]:

# Écrivez votre code ici

#Find the users from Gwenborough
for user in data:
    if user["address"]["city"] == "Gwenborough":
        print(user["name"])

# Create list with the geo location of each user
geo = []
for user in data:
    lat1 = user["address"]["geo"]["lat"]
    lat2 = user["address"]["geo"]["lng"]
    user_geo = (lat1, lat2)
    geo.append(user_geo)

Leanne Graham

[('-37.3159', '81.1496'),
 ('-43.9509', '-34.4618'),
 ('-68.6102', '-47.0653'),
 ('29.4572', '-164.2990'),
 ('-31.8129', '62.5342'),
 ('-71.4197', '71.7478'),
 ('24.8918', '21.8984'),
 ('-14.3990', '-120.7677'),
 ('24.6463', '-168.8889'),
 ('-38.2386', '57.2232')]


## **Question 4: Téléchargement de données XML**
Téléchargez le fichier XML depuis l'URL suivante :  
`https://www.w3schools.com/xml/plant_catalog.xml`  

- Affichez uniquement les noms (**COMMON**) et prix (**PRICE**) des plantes sous cette forme :  
  **Plante: Bloodroot, Prix: $2.44**  

### Code :

In [ ]:
# Écrivez votre code ici
# Retrieve data from the API
res = requests.get('https://www.w3schools.com/xml/plant_catalog.xml')
data_xml = res.text
root = ET.fromstring(data_xml)

# Print the data
for plant in root.findall('PLANT'):
    print("Plante: " + plant.find('COMMON').text + " ,Prix: " + plant.find('PRICE').text)

Plante: Bloodroot ,Prix: $2.44
Plante: Columbine ,Prix: $9.37
Plante: Marsh Marigold ,Prix: $6.81
Plante: Cowslip ,Prix: $9.90
Plante: Dutchman's-Breeches ,Prix: $6.44
Plante: Ginger, Wild ,Prix: $9.03
Plante: Hepatica ,Prix: $4.45
Plante: Liverleaf ,Prix: $3.99
Plante: Jack-In-The-Pulpit ,Prix: $3.23
Plante: Mayapple ,Prix: $2.98
Plante: Phlox, Woodland ,Prix: $2.80
Plante: Phlox, Blue ,Prix: $5.59
Plante: Spring-Beauty ,Prix: $6.59
Plante: Trillium ,Prix: $3.90
Plante: Wake Robin ,Prix: $3.20
Plante: Violet, Dog-Tooth ,Prix: $9.04
Plante: Trout Lily ,Prix: $6.94
Plante: Adder's-Tongue ,Prix: $9.58
Plante: Anemone ,Prix: $8.86
Plante: Grecian Windflower ,Prix: $9.16
Plante: Bee Balm ,Prix: $4.59
Plante: Bergamot ,Prix: $7.16
Plante: Black-Eyed Susan ,Prix: $9.80
Plante: Buttercup ,Prix: $2.57
Plante: Crowfoot ,Prix: $9.34
Plante: Butterfly Weed ,Prix: $2.78
Plante: Cinquefoil ,Prix: $7.06
Plante: Primrose ,Prix: $6.56
Plante: Gentian ,Prix: $7.81
Plante: Blue Gentian ,Prix: $8.56
Plante: Jacob's Ladder ,Prix: $9.26
Plante: Greek Valerian ,Prix: $4.36
Plante: California Poppy ,Prix: $7.89
Plante: Shooting Star ,Prix: $8.60
Plante: Snakeroot ,Prix: $5.63
Plante: Cardinal Flower ,Prix: $3.02


## **Question 5: Parsing avancé de XML**
En utilisant les données XML de la **Question 4** :  
1. Affichez toutes les plantes dont le prix est supérieur à **$5.00**.  
2. Créez une liste contenant les noms de plantes classées par **ZONE**.

### Code :

In [ ]:
# Écrivez votre code ici

# Find all plants with price > 5.00
for plant in root.findall('PLANT'):
    price = plant.find('PRICE').text
    price = price.replace("$", "")
    price = float(price)

    if price > 5.00:
        print(plant.find('COMMON').text)

# Sort plants by zone
Zones = []
for plant in root.findall('PLANT'):
    Zones.append(plant.find('ZONE').text + " " + plant.find('COMMON').text)
    Zones.sort()

Columbine
Marsh Marigold
Cowslip
Dutchman's-Breeches
Ginger, Wild
Phlox, Blue
Spring-Beauty
Violet, Dog-Tooth
Trout Lily
Adder's-Tongue
Anemone
Grecian Windflower
Bergamot
Black-Eyed Susan
Crowfoot
Cinquefoil
Primrose
Gentian
Blue Gentian
Jacob's Ladder
California Poppy
Shooting Star
Snakeroot


## **Question 6: Analyse combinée**
1. Téléchargez le fichier JSON depuis :  
   `https://jsonplaceholder.typicode.com/posts`  
2. Comptez combien de posts sont associés à l'utilisateur ayant un **ID** de `1`.  
3. Fusionnez (merge) les données JSON et XML téléchargées, et affichez-les sous forme de **DataFrame Pandas**.

### Code :

In [ ]:
# Écrivez votre code ici
# Retrieve data from the API
res = requests.get('https://jsonplaceholder.typicode.com/posts')
data_json = res.json()

#Count the number of posts for user with id 1
count = 0
for post in data_json:
    if post["userId"] == 1:
        count += 1

#Create a DataFrame from the XML data
xml_rows = []
for child in root:
    row = {elem.tag: elem.text for elem in child}
    xml_rows.append(row)
xml_df = pd.DataFrame(xml_rows)

json_df = pd.DataFrame(data_json)

#Merge the two DataFrames
merged_df = pd.concat([json_df, xml_df], axis=1)
merged_df

,userId,id,title,body,COMMON,BOTANICAL,ZONE,LIGHT,PRICE,AVAILABILITY
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,Bloodroot,Sanguinaria canadensis,4,Mostly Shady,$2.44,031599
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,Columbine,Aquilegia canadensis,3,Mostly Shady,$9.37,030699
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,Marsh Marigold,Caltha palustris,4,Mostly Sunny,$6.81,051799
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,Cowslip,Caltha palustris,4,Mostly Shady,$9.90,030699
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,Dutchman's-Breeches,Dicentra cucullaria,3,Mostly Shady,$6.44,012099
...,...,...,...,...,...,...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...,NaN,NaN,NaN,NaN,NaN,NaN
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...,NaN,NaN,NaN,NaN,NaN,NaN
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...,NaN,NaN,NaN,NaN,NaN,NaN
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...,NaN,NaN,NaN,NaN,NaN,NaN
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...,NaN,NaN,NaN,NaN,NaN,NaN


## **Question 7: Déployer avec Streamlit**
1. Créez un script Python (`.py`) qui :  
   - Lit les données JSON depuis `https://jsonplaceholder.typicode.com/users`
   - Ajoute vous-mêmes et deux utilisateurs fictifs avec les coordonnées géographiques
   - Affiche une interface interactive pour rechercher des utilisateurs par ville ou nom  
   - Affiche les coordonnées géographiques de l'utilisateur sélectionné sur une carte  

2. Indiquez les étapes pour exécuter l'application avec **Streamlit**.

### Code :

In [ ]:
# Écrivez votre code ici

## **Question 8: Version online**
1. Déployez votre application en ligne et partagez l'adresse.(ex. abcd.streamlit.app)

### L'adresse :